@import "../../../../assets/styles/variables";
.px-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  &--overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .3);
    z-index: 10;
  }
  &__content{
    padding: 20px 36px 36px;
    background: white;
    border-radius: 20px;
    max-width: 460px;
    width: 100%;
    min-height: 200px;
    position: relative;
    &__title{
      font-size: 20px;
      text-align: center;
      margin-bottom: 30px;
    }
    .control{
      margin-bottom: 20px;
    }
    button{
      margin: 0 auto;
      min-width: 140px;
    }
  }
  .close-modal{
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
}
