@import "../../../assets/styles/variables";
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background: #fcdc84;
  min-height: 90px;
  background: linear-gradient(317deg, #46a1ae, #87a9cd 30%, #838bf5 46%, #ec96c4 85%, #ffb398);
  > a{
    font-size: 0;
    img{
      max-width: 155px;
      width: 100%;
      height: auto;
    }
  }
  nav{
    ul{
       list-style: none;
       display: flex;
       align-items: center;
       li{
         margin: 0 10px;
         padding: 4px;
         color: black;
         position: relative;
         sup{
           position: absolute;
           top: -3px;
           right: -3px;
           background: #f34079;
           font-size: 12px;
           width: 14px;
           height: 14px;
           border-radius: 50%;
           color: white;
           display: flex;
           align-items: center;
           justify-content: center;
         }
         a:not(.px-button-primary){
           font-size: 16px;
           &:hover{
             color:$px-purple;
           }
           &.active{
             color: $px-purple;
             text-shadow: 0 1px 1px rgb(0 0 0 / 16%);
           }
         }
         a.px-button-primary.active{
           box-shadow: 2px 3px 7px 0 #e91e6359;
         }

         a.px-shop{
           font-size: 20px;
         }
       }
     }
  }
  @media screen and (max-width: 768px){
    padding: 10px 20px;
    nav{
      ul {
        li{
          margin: 0 4px;
          .px-button-primary{
            font-size: 12px;
            height: 40px;
          }
          a:nth-child(n):not(.px-shop){
            font-size: 13px;
          }
        }
      }
    }
  }
}
