@import "../../../assets/styles/variables";
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background: #fcdc84;
  min-height: 90px;
  > a{
    font-size: 0;
  }
  nav{
    ul{
       list-style: none;
       display: flex;
       align-items: center;
       li{
         margin: 0 10px;
         padding: 4px;
         color: black;
         a:not(.px-button-primary){
           font-size: 16px;
           &:hover{
             color: #9d4646;
           }
           &.active{
             color: $px-red;
           }
         }
         a.px-button-primary.active{
           box-shadow: 2px 3px 7px 0 #e91e6359;
         }
         a.px-shop{
           font-size: 20px;
         }
       }
     }
  }
}
